.navi__container {
    overflow: hidden;
    position: fixed;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    top: 20px;
    right: 5rem;
    z-index: 4;
}

.navi__container a {
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

/************* MEDIUM DEVICES **************/
@media screen  and (max-width: 1024px) {
    .navi__container {
        display: none;
    }
}

/************* SMALL DEVICES **************/
@media screen  and (max-width: 600px) {
    .navi__container {
        display: none;
    }
} 