.portfolio-area {
    min-height: 100vh;
    display: inline-block;
    align-items: center;
}

.portfolio-title {
    text-align: center;
    padding-top: 4rem;
}

.portfolio__content {
    width: 80%;
    text-align: left;
    padding: 50px 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.portfolio__item {
    background: var(--color-card);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: var(--color-card-hover);
}

.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}

.portfolio__item h3 {
    margin: 0.5rem 0 0;
    color: #191817;
    font-size: 26px;
    font-weight: 500;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/************* MEDIUM DEVICES **************/
@media screen and  (min-width: 768px) and (max-width: 1024px) {
    .portfolio__content {
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }

    
}

/************* SMALL DEVICES **************/
@media screen  and (max-width: 767px) {
    .portfolio__content {
        grid-template-columns: 1fr;
        width: 80%;
        padding-top: 0.5rem;
    }

    .portfolio__item {
        padding: 0;
        width: 100%;
        border-radius: 1rem;
    }

    .portfolio__item-content {
        padding-left: 1rem;
    }
}