.about-area {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about__content {
    padding-left: 100px;
}

.about__container {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 100px 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 50%;
}


.about__me-image {
    padding-left: 100px;
    display: grid;
    width: 80%;
    height: 80%;
    z-index: 0;
}


.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}


/************* MEDIUM DEVICES **************/
@media screen and  (min-width: 768px) and (max-width: 1024px) {
    
    .about__container {
        grid-template-columns: 100%;
        width: 75%;
    }

    .about__content {
        padding-left: 0;
        text-align: center;
    }

    .about__content p {
        text-align: justify;
    }

    .about__me-image {
        padding-left: 0;
        margin: 0 auto;
        width: 35%;
        aspect-ratio: 1/1;
    }
}


/************* SMALL DEVICES **************/
@media screen  and (max-width: 767px) {

    .about__container {
        grid-template-columns: 100%;
        width: 80%;
    }

    .about__me-image {
        padding-left: 0;
        margin: 0 auto;
        width: 25%;
        aspect-ratio: 1/1;
    }

    .about__content {
        padding-left: 0;
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
        text-align: justify;
    }

    .about__content h2 {
        text-align: center;
    }
    
}