.intro-area {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.intro {
    padding-top: 50px;
    padding-left: 100px;
}

.container {
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 100px 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 20%;
}


/********** CTA **********/

.cta {
    margin-top: 2em;
    display: flex;
    gap: 1.2rem;
    margin: auto;
}

/********** HEADER SOCIALS **********/
.header__socials {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    right: 10rem;
    top: 3rem;
}

.header__socials a {
    color: #ca4629;
}


/********** ME **********/

.header__me-image {
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}



/************* MEDIUM DEVICES **************/
@media screen and  (min-width: 768px) and (max-width: 1024px) {


}

/************* SMALL DEVICES **************/
@media screen  and (max-width: 767px) {

    .intro {
        padding-left: 0;
        text-align: center;
    }

    .cta {
        justify-content: center;
    }

    .header__socials {
        margin: auto;
    }


    .container {
        grid-template-columns: 100%;
    }

    .header__me-image {
        margin: 0 auto;
        width: 25%;
        aspect-ratio: 1/1;
        left: calc(100%-50px);
    }
}