header {
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;
}

.header__container {
    text-align: left;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 60% 30%;
}

.header__content {
    display: grid;
}


h1 {
    color: #191817;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

/* CTA */

.cta {
    margin-top: 2em;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

/* HEADER SOCIALS */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 10rem;
    bottom: 3rem;
}

.header__socials a {
    color: #76549A;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    /* background: var(--color-primary); */
    background: #76549A;
}

/* ME */

.header__me {
    display: grid;
}

.me {
    background: linear-gradient(
        var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


@media screen and (max-width: 1024px) {
    header {
        height: 90vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }
}