@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: #FCF8E8;
    --color-bg-variant: #E2DFD0;
    --color-primary: #001446;
    --color-primary-variant: #8C0000;
    --color-card:#EBC978;
    --color-card-hover: #efd393;
    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md:  86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Fauna One', serif;
    background: var(--color-bg);
    color: var(--color-primary);
    line-height: 1.7;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}


/************* GENERAL STYLES **************/


h1,h2,h3,h4,h5 {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 4rem;
    color: var(--color-primary-variant);
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--color-primary);
    /* transition: var(--transition); */
}


.header-title {
    color: var(--color-primary-variant);
    font-size: 2rem;
    text-align: center;
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-family: 'Fauna One', serif;
}

.btn:hover {
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/************* MEDIUM DEVICES **************/
@media screen and  (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 3rem;
    }

    body {
        overflow-x: hidden;
      }
}

/************* SMALL DEVICES **************/
@media screen  and (max-width: 767px) {
    
    body {
        overflow-x: hidden;
      }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .btn {
        padding: 0.3rem 0.4rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .header-title {
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
    }

} 